.character-item {
  width: 18rem;
  height: 400px;
}

.character-item-description {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.character-item-img {
  height: 200px;
  /* max-width: 200px; */
  object-fit: cover;
}
